@font-face {
    font-family: "Urbanist";
    src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 1000;
  }

  @font-face {
    font-family: "Urbanist Italic";
    src: url(../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 1000;
  }

  @font-face {
    font-family: "Recursive";
    src: url(../assets/fonts/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf) format('truetype');
    font-weight: 100 1000;
  }