@font-face {
  font-family: "Urbanist";
  src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Urbanist Italic";
  src: url(../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf) format("truetype");
}
